<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ClassBlog</title>
  </head>
  <body>
    <a href="{% url 'create' %}">추가하기</a>

    {% for blog in blog_list %}
    <h2>{{blog.title}}</h2>
    <h5>{{blog.created_at}}</h5>
    <p>{{blog.body}}</p>
    <a href="{% url 'read' blog.id %}">자세히보기</a>
    <br />
    <a href="{% url 'update' blog.id %}">수정</a>
    <br />
    <a href="{% url 'delete' blog.id %}">삭제</a>
    <br />
    {% endfor %}
  </body>
</html>
